<div class="main users-new">
  <div class="container">
    <div class="form-heading">ログイン</div>
    <div class="form users-form">
      <div class="form-body">
       <% if @error_message %>
         <div class="form-error">
         <%= @error_message %>
         </div>
       <% end %>
       <%= form_with url: login_users_path do |f| %>
        <%= f.label :email, "メールアドレス"%>
        <%= f.text_field :email %>
        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password %>
        <%= f.submit "ログイン" %>
       <% end %>
      </div>
    </div>
  </div>
</div>