<!-- アカウント作成ページ -->
<h1>whoareyou</h1>

<div class="main users-new">
  <div class="container">
    <div class="form-heading">新規ユーザー登録</div>
    <div class="form users-form">
      <div class="form-body">

      <% @user.errors.full_messages.each do |message| %><!-- if文にして日本語のエラー文が出るようにしたほうがいいかも -->
        <div class="form-error">
          <%= message %>
        </div>
      <% end %>
      
       <%= form_with model: @user do |f| %>
        <%= f.label :name, "username" %>
        <%= f.text_field :name, value: @user.name %>
        <%= f.label :email, "email" %>
        <%= f.text_field :email, value: @user.email  %>
        <%= f.label :password, "password" %>
        <%= f.password_field :password %>
        <%= f.submit "新規登録" %>
       <% end %>
      </div>
    </div>
  </div>
</div>