<% @page_title = "#{@user.name}'s page"%>
<header>
  <div class="header-logo">
    <ul class="header-menu for-user">
      <li>
        <%= link_to("top", root_path) %>
      </li>
      <li>
        <%= link_to("logout", destroy_user_session_path, {method: "delete"}) %>
      </li>
    </ul>
  </div>
</header>
<div class="user-show-container">
  <div class="about-profile">
    <div class="profile">
      <div class="profile-left">
        <div class="user-icon">
          <%= image_tag "/no_profile_pic.jpg" %>
        </div>
        <div class="profile-name">
          <h3><%= @user.name %></h3>
          <% if current_user.id == @user.id %>
          <h5><%= link_to("Edit", edit_user_registration_path) %></h5>
          <% end %>
        </div>
      </div>
      <div class="profile-right">
        <h4>please share your story!</h4>
        <p>
          <%= link_to("New Post", new_post_path, class: "new-post-btn") %>
        </p>
      </div>
    </div>
  </div>
  <div class="about-post">
    <h2 class="your-post">Your posts</h2>
    <% if @posts[0] %>
      <div class="posted">
        <% @posts.each do |post| %>
          <div class="own-card">
            <div class="c-head">
              <div class="top-image">
                <%= image_tag post.image_name1.url if post.image_name1? %>
              </div>
            </div> 
            <div class="c-middle">
              <div class="top-whole">
                <p class="top-question">country</p>
                <p class="top-answer"><%= post.country %></p>
              </div>
              <div class="top-whole">
                <p class="top-question">city</p>
                <p class="top-answer"><%= post.city %></p>
              </div>
              <div class="top-whole">
                <p class="top-question">period</p>
                <p class="top-answer"><%= post.howlong %></p>
              </div>
              <div class="top-whole">
                <p class="top-question">cost</p>
                <p class="top-answer"><%= post.money %></p>
              </div>
            </div>
            <div class="c-foot">
              <p class="more-watch">
                <%= link_to("Read more", post_path(post.id), class: "info-button") %>
              </p>
            </div>
          </div>
        <% end %>
      <div>  
    <% else %>
      <div class="not-yet">
        <h2>No posts</h2>
      </div>
    <% end %>
  </div>

</div>