<div class="top-middle">
<% posts.each do |post| %>
  <div class="c-content">
    <div class="c-head">
      <div class="top-image">
        <%= image_tag post.image_name1.url if post.image_name1? %>
      </div>
    </div> 
    <div class="c-middle">
      <div class="top-whole">
        <p class="top-question">country</p>
        <p class="top-answer"><%= post.country %></p>
      </div>
      <div class="top-whole">
        <p class="top-question">city</p>
        <p class="top-answer"><%= post.city %></p>
      </div>
      <div class="top-whole">
        <p class="top-question">period</p>
        <p class="top-answer"><%= post.howlong %></p>
      </div>
      <div class="top-whole">
        <p class="top-question">cost</p>
        <p class="top-answer"><%= post.money %></p>
      </div>
    </div>
    <div class="c-foot">
      <p class="more-watch">
        <%= link_to("Read more", post_path(post.id), class: "info-button") %>
      </p>
    </div>
  </div>
<% end %>
</div>