<div class="top-middle">
<% posts.each do |post| %>
  <div class="k-content">
    <div class="k-head">
      <%= image_tag post.image_name1.url if post.image_name1? %>
      <div class="k-name">
        <h3>@<%= post.user.name %></h3>
      </div>
    </div> 
    <div class="k-middle">
      <ul class="personal">
        <li>国:<%= post.country %></li>
        <li>地域:<%= post.city %></li>
        <li>期間:<%= post.howlong %></li>
        <li>費用:<%= post.money %></li>
      </ul>
    </div>
    <div class="k-foot">
      <%= link_to("MoreInformation", post_path(post.id), class: "info-button") %>
    </div>
  </div>
<% end %>
</div>