<% @page_title = "留学用掲示板" %>
<header>
  <div class="header-logo">
    <ul class="header-menu">
    <% if user_signed_in? %>
      <li>
        <%= link_to(current_user.name, user_path(current_user.id)) %>
      </li>
      <li>
        <%= link_to("Logout", destroy_user_session_path, {method: "delete"}) %>
      </li>
      <% else %>
      <li>
        <%= link_to("Login", new_user_session_path) %> 
      <li>
        <%= link_to("Signup", new_user_registration_path) %>
      </li>
      <% end %>
    </ul>
  </div>
</header>
<div class="top-main">
  <h1>Wiz</h1>
  <div class="selection">
    <ul class="select-menu">
      <li>
        <%= link_to("ALL", root_path) %>
      </li>
      <li>
        <%= link_to("USA", home_usa_path, remote: true) %>
      </li>
      <li>
        <%= link_to("UK", home_uk_path, remote: true) %>
      </li>
      <li>
        <%= link_to("Canada", home_canada_path, remote: true) %>
      </li>
      <li>
        <%= link_to("Australia", home_australia_path, remote: true) %>
      </li>
      <li>
        <%= link_to("NewZealand", home_newzealand_path, remote: true) %>
      </li>
      <li>
        <%= link_to("Malta", home_malta_path, remote: true) %>
      </li>
      <li>
        <%= link_to("thePhilippines", home_philippines_path, remote: true) %>
      </li>
    </ul>
  </div>
</div>
<div class="card-field">
  <%= render partial: 'home/top', locals: {posts:@posts} %>
</div>
<footer>
  <div class="footer-instruction">
    <p class="footer-question"><%= link_to("お問い合わせ", contact_new_path) %></p>
    <p class="copy-right">&copy; 2021 Wiz</p>
  </div>
</footer>