<%= @page_title = "留学用掲示板" %>
<div class="top-main">
  <h2>Lets share your story</h2>
</div>
<div class="selection">
  <ul class="select-menus">
    <li>
      <%= link_to("ALL", root_path) %>
    </li>
    <li>
      <%= link_to("USA", home_usa_path, remote: true) %>
    </li>
    <li>
      <%= link_to("UK", home_uk_path, remote: true) %>
    </li>
    <li>
      <%= link_to("Canada", home_canada_path, remote: true) %>
    </li>
    <li>
      <%= link_to("Australia", home_australia_path, remote: true) %>
    </li>
    <li>
      <%= link_to("NewZealand", home_newzealand_path, remote: true) %>
    </li>
    <li>
      <%= link_to("SouthAfrica", home_southafrica_path, remote: true) %>
    </li>
    <li>
      <%= link_to("Malta", home_malta_path, remote: true) %>
    </li>
    <li>
      <%= link_to("thePhilippines", home_philippines_path, remote: true) %>
    </li>
  </ul>
</div>
<div class="card-field">
  <%= render partial: 'home/top', locals: {posts:@posts} %>
</div>