<% @page_title = "NewPost"%>
<div class="post-new-container">
    <%= form_with model: @post do |f| %>
    <div class="form-content">
      <ul>
        <li class="post-photo">
          <span>+</span>
          <%= f.file_field :image_name1, class: "image" %>
        </li>
        <li class="county form">
          <%= f.select :country, [["USA", "USA"], ["UK", "UK"], ["Canada", "Canada"], ["Australia", "Australia"], ["NewZealand", "Newzealand"], ["SouthAfrica", "SouthAfrica"], ["Malta", "Malta"], ["thePhilippines", "thePhilippines"]] %>
        </li>
        <li class="city form">
          <%= f.text_field :city, placeholder: "地域" %>
        </li>
        <li class="howlong form">
          <%= f.text_field :howlong, placeholder: "期間" %>
        </li>
        <li class="visa form">
          <%= f.text_field :visa, placeholder: "ビザの種類" %>
        </li>
        <li class="money form">
          <%= f.text_field :money, placeholder: "費用" %>
        </li>
        <li class="school form">
          <%= f.text_field :schoolname, placeholder: "学校名" %>
        </li>
        <li class="agent form">
          <%= f.text_field :agent, placeholder: "エージェント" %>
        </li>
        <li class="necessity form">
          <%= f.text_field :necessity, placeholder: "必需品" %>
        </li>
      </ul>
      <div class="submit">
        <%= f.submit "Share", class:"submit-form"%>
      </div>
    </div>
    <% end %>
</div>