<div class="post-new-container">
    <%= form_with model: @post do |f| %>
    <div class="form-content">
      <ul>
        <li class="post-photo">
          <span>+</span>
          <%= f.file_field :image_name1, class: "image" %>
        </li>
        <li class="county form">
          <%= f.label :country, "国" %>
          <%= f.select :country, [["USA", "USA"], ["UK", "UK"], ["Canada", "Canada"], ["Australia", "Australia"], ["NewZealand", "Newzealand"], ["SouthAfrica", "SouthAfrica"], ["Malta", "Malta"], ["thePhilippines", "thePhilippines"]] %>
        </li>
        <li class="city form">
          <%= f.label :city, "地域" %>
          <%= f.text_field :city %>
        </li>
        <li class="howlong form">
          <%= f.label :howlong, "期間" %>
          <%= f.text_field :howlong %>
        </li>
        <li class="visa form">
          <%= f.label :visa, "ビザの種類" %>
          <%= f.text_field :visa %>
        </li>
        <li class="money form">
          <%= f.label :money, "費用"%>
          <%= f.text_field :money %>
        </li>
        <li class="school form">
          <%= f.label :schoolname, "学校名" %>
          <%= f.text_field :schoolname %>
        </li>
        <li class="agent form">
          <%= f.label :agent, "エージェント" %>
          <%= f.text_field :agent %>
        </li>
        <li class="necessity form">
          <%= f.label :necessity, "必需品"%>
          <%= f.text_field :necessity %>
        </li>
      </ul>
      <div class="submit">
        <%= f.submit "Share", class:"submit-form"%>
      </div>
    </div>
    <% end %>
</div>