<div class="post-show">

  <div class="post-card">
    <div class="post-image">
      <%= image_tag @post.image_name1.url if @post.image_name1? %>
    </div>
    <div class="post-content">
      <div class="whole-content">
        <p class="question-content">country</p>
        <p class="answer-content"><%= @post.country %></p>
      </div>
      <div class="whole-content">
        <p class="question-content">city or town</p>
        <p class="answer-content"><%= @post.city %></p>
      </div>
      <div class="whole-content">
        <p class="question-content">period</p>
        <p class="answer-content"><%= @post.howlong %></p>
      </div>
      <div class="whole-content">
        <p class="question-content">visa</p>
        <p class="answer-content"><%= @post.visa %></p>
      </div>
      <div class="whole-content">
        <p class="question-content">cost</p>
        <p class="answer-content"><%= @post.money %></p>
      </div>
      <div class="whole-content">
        <p class="question-content">school</p>
        <p class="answer-content"><%= @post.schoolname %></p>
      </div>
      <div class="whole-content">
        <p class="question-content">agent</p>
        <p class="answer-content"><%= @post.agent %></p>
      </div>
      <div class="whole-content">
        <p class="question-content">necessity</p>
        <p class="answer-content"><%= @post.necessity %></p>
      </div>
        <% if current_user && @post.user_id == current_user.id %>
        <div class="can-manipulate">
          <div class="post-edit">
            <%= link_to("編集", edit_post_path) %>
          </div>
          <div class="post-delete">
            <%= link_to("削除", post_path, {method:"delete"}) %>
          </div>
        </div>
        <% end %>
    </div>
  </div>

  <div class="comment-field">
    <p class="comment-title">Questions</p>
    <div class="comment-area">
      <%= render partial: 'comments/index', locals: { comments: @comments, user: @user } %>
    </div>
    <div class="comment-create">
      <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
    </div>
  </div>

</div>