<!-- 投稿詳細ページ -->
<div class="post-user-name">
  <%= @user.name %>
</div>

<div class="post-content">
 <img src=<%= "/#{@post.image_name1}" %> class="photopost">
 <p>国:<%= @post.country %></p>
 <p>地域:<%= @post.city %></p>
 <p>期間:<%= @post.howlong %></p>
 <p>ビザ:<%= @post.visa %></p>
 <p>費用:<%= @post.money %></p>
 <p>学校名:<%= @post.schoolname %></p>
 <p>エージェント:<%= @post.agent %></p>
 <p>必需品:<%= @post.necessity %></p>
</div>
<% if @current_user && @post.user_id == @current_user.id %>
  <div class="can-manipulate>
    <div class="post-edit">
    <%= link_to("編集", edit_post_path) %>
    </div>
    <div class="post-delete">
      <%= link_to("削除", post_path, {method:"delete"}) %>
    </div>
  </div>
<% end %>

<div class="likes-button">
  <%= render partial: 'likes/like', locals: {post: @post, current_user: @current_user, likes_count: @likes_count, like: @like} %>
</div>

<div class="row">
  <ul>
    <li class="comment-create">
      <h3 class="text-left title">レビュー</h3>
    </li>
    <li id="comments_area">
      <%= render partial: 'comments/index', locals: { comments: @comments, current_user: @current_user } %>
    </li>
  </ul>
    <hr>
    <% if @current_user %>
      <div class="comment-create">
        <h3 class="text-left">レビューを投稿する</h3>
        <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
      </div>
    <% end %>
</div>